{% extends 'adminBase.htm.twig' %}
{% block title %}Open Profiles{% endblock %}
{% block corporate %} active {% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color: #2E276D">
                        <h4 class="title" style="color: #fff;">Open Publisher Profiles</h4>
                    </div>
                     <div class="card-content table-responsive">
                         <table id="datatables" class="table table-striped table-no-bordered table-hover material-datatables" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                            <tr>
                                
                                <th>Created At</th>
                                <th>Full Names</th>
                                <th>Payment</th>
                                <th>Preferred Region</th>
                                <th>Contact Names</th>
                                <th>#  Music Tracks</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    
                                    <td>{{ user.createdAt | date('d-m-Y') }}
                                    </td>
                                    <td>{{ user.companyName }}&nbsp;</td>
                                    <td>{% if user.isPaid %} Paid {% else %} Pending {% endif %}</td>
                                    <td>{{ user.prefferedRegion }}</td>
                                    <td>{{ user.firstDirectorNames }}</td>
                                      <td>
                                          {% if user.corporateMusicSamples | length > 0 %}
                                         <a href="{{ path('review-corporate-recordings', {'id': user.id }) }}">{{ user.corporateMusicSamples | length }}</a>
                                         {% else %}
                                         0
                                         {% endif %}
                                         </td>

                                    <td class="text-primary">
                                        <a title="Manage Profile" href="{{ path('review-corporate-profile', {'id': user.id }) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">border_color</i></a>
                               {% if user.isPaid %}  {% else %} 
                                <a title="Manage Payment" href="{{ path('confirm-corporate-application-payment', {'id': user.id }) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">account_balance_wallet</i></a>
                               {% endif %}

                                    </td>
                                </tr>
                          {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
{% endblock %}